body{
    background-color: black;
}

.game{
    height: 400px;
    border: 10px solid white;
    background-color: rgb(71, 71, 71);
    margin-left: 20px;
    margin-right: 20px;
    margin: 0;
    padding: 0;
    display: flex;
}

.button{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{text-decoration: none;}

@keyframes glow{
    100%{box-shadow: 0px 0px 80px yellow;}
}

button{
    font-size: 150px;
    text-align: center;
    height: 200px;
    width: 200px;
    display: block;
    border-radius: 20px;
    background-color: rgb(5, 255, 5);
    color: white;
}

button:hover{
    animation: glow;
    animation-duration: 5s;
}

#snake{
    height: 25px;
    width: 25px;
    background-color: rgb(5, 255, 5);
    position: relative;

}

h1{
    text-align: center;
    font-size: 100px;
    color: rgb(171, 25, 201);
    margin: 10px;
}
h2{
    text-align: center;
    display: block;
    color:rgb(171, 25, 201);
    margin: 10px;
}